---
import Layout from '../layouts/RootLayout.astro';
import Hero from '../components/sections/Hero';
import Work from '../components/sections/Work';
import Techstack from '../components/sections/Techstack';
import About from '../components/sections/About';
import Contact from '../components/sections/Contact';
---
<Layout title="Michał Wierzgoń - Junior Frontend Developer | Portfolio">
    <main>
        <div class="App">
          <Hero />
          <Work />
          <Techstack />
          <About />
          <Contact />
        </div>
    </main>
</Layout>
