.tech-stack {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-stack__icons-wrapper {
  position: relative;
  mask-image: linear-gradient(
    90deg,
    transparent 8%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 50%,
    transparent 92%
  );
}

.tech-stack__icons-wrapper i {
  font-size: 3em;
}

.tech-stack__icons-wrapper ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.tech-stack__icons-wrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em 4em;
  border: solid $clr-moon-mist 1px;
  background: $clr-nero;
  font-size: $fs-sm;
  font-weight: var(--fw-light);
}

.tech-stack__list_marquee-first {
  animation: tech-stack__list_marquee-first 35s linear infinite;
}

.tech-stack__list_marquee-second {
  animation: tech-stack__list_marquee-second 35s linear infinite;
  position: absolute;
  top: 0;
}

@keyframes tech-stack__list_marquee-first {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes tech-stack__list_marquee-second {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
