/* Colors */

$clr-nero: hsl(0, 0%, 100%);
$clr-cod-gray: hsl(0, 0%, 6%);
$clr-gray: hsl(0, 0%, 50%);
$clr-gray-opacity-10: hsl(0, 0%, 50%, 10%);
$clr-moon-mist: hsl(70, 13%, 85%);
$clr-pampas: hsl(60, 5%, 96%);
$clr-black: hsl(0, 0%, 12%);
$clr-mine-shaft: hsl(0, 0%, 13%);
$clr-thunder: hsl(330, 10%, 14%);

/* Box shadow */

$bs: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.0025),
  0.01em 0.01em 0.01em rgba(0, 0, 0, 0.1);
